<section class="about h-100 overflow-auto pb-5 container-fluid">
  <div class="main__title my-5">
    <h3>About Me</h3>
  </div>
  <div class="sub__title">
    <h6>I'm <span class="typed-about main-color"> </span></h6>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque inventore
      vitae quo maxime architecto, animi delectus facere. Incidunt itaque quam
      sapiente placeat fugiat saepe quaerat, distinctio at! Cupiditate quasi
      dolorum tempora numquam dolores modi a sunt, quaerat totam aliquam
      nesciunt iusto reprehenderit eveniet temporibus deleniti architecto earum,
      perspiciatis maxime porro magnam facilis. Delectus itaque corporis omnis
      qui aliquid facilis odio. Unde mollitia provident voluptatibus voluptate
    </p>
  </div>
  <div class="about__area">
      <div class="about__info row g-3">
        <div class="col-lg-7">
          <div class="items d-md-flex gap-2">
            <ul class="list-group list-group-flush bg-transparent">
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Birthday: </span
                ><span class="small"> 21 March 1997</span>
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Website: </span
                ><span class="small">
                  <a
                    href="https://github.com/ahmed-menisy"
                    target="_blank"
                    rel="noopener noreferrer"
                    >github.com/ahmed-menisy</a
                  ></span
                >
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Degree: </span
                ><span class="small"> Cs</span>
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">City: </span
                ><span class="small">Kafr El-Shaikh</span>
              </li>
            </ul>
            <ul class="list-group list-group-flush bg-transparent">
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Age: </span><span class="small"> 25</span>
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Email: </span
                ><span class="small">
                  <a href="mailto:ahmed.menisy.21@gmail.com"
                    >ahmed.menisy.21@gmail.com</a
                  ></span
                >
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Phone: </span
                ><span class="small">
                  <a href="tel:+01015265077">01015265077</a></span
                >
              </li>
              <li class="list-group-item bg-transparent text-reset">
                <span class="fw-bold">Freelance: </span
                ><span class="small">Availabel</span>
              </li>
            </ul>
          </div>
          <div class="links mt-4">
            <a
              href="./assets/ahmed-menisy.pdf"
              download
              class="btn btn-warning btn-main rounded-pill px-4"
              target="_blank"
              >Download Cv</a
            >
            <a
              href="mailto:ahmed.menisy.21@gmail.com?subject=agree&body=welcome to company"
              class="btn btn-warning btn-main rounded-pill ms-3 px-4"
              target="_blank"
              >Hire Me</a
            >
          </div>
        </div>
        <div class="col-lg-5">
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Html5</h6>
              <span>95%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 95%"
              ></div>
            </div>
          </div>
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Css3</h6>
              <span>90%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 90%"
              ></div>
            </div>
          </div>
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Bootstrap5</h6>
              <span>95%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 95%"
              ></div>
            </div>
          </div>
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Js/Es6</h6>
              <span>90%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 90%"
              ></div>
            </div>
          </div>
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Jquery</h6>
              <span>95%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 95%"
              ></div>
            </div>
          </div>
          <div class="item mb-3">
            <div class="item-data d-flex justify-content-between">
              <h6>Angular</h6>
              <span>90%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar main-color bg-main"
                style="width: 90%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    <div class="about__edu-exp mt-5">
      <div>
        <div class="row row-cols-1 row-cols-lg-2 g-4">
          <div class="col">
            <h4>Education</h4>
            <div class="items bg-white p-3 rounded">
              <ul class="text-muted education__menu">
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <h4>Experince</h4>
            <div class="items bg-white p-3 rounded">
              <ul class="text-muted education__menu">
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
                <li>
                  <span class=" small"><i class="fa-solid fa-calendar"></i> 2013 - 2015</span>
                  <h6 class="text-dark fw-bold my-2">Master In Computer Science</h6>
                  <p class="lead ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Unde hic, quam similique officiis corporis provident nihil
                    est totam dignissimos dicta.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
