<section class="contact__us h-100 overflow-auto pb-5 container-fluid">
  <div class="main__title my-5">
    <h3>Contact Us</h3>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 text-center">
    <div class="col">
      <div class="card h-100 text-dark py-4">
        <i class="fa-solid fa-3x fa-phone-flip"></i>
        <h4 class="my-3">Call Us on</h4>
        <p>+201015265077</p>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-dark py-4">
        <i class="fa-solid fa-3x fa-location-arrow"></i>
        <h4 class="my-3">Office</h4>
        <p>Kafr El Sheikh</p>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-dark py-4">
        <i class="fa-solid fa-3x fa-envelope"></i>
        <h4 class="my-3">Email</h4>
        <p>amelmaster16@gmail.com</p>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-dark py-4">
        <i class="fa-solid fa-3x fa-sitemap"></i>
        <h4 class="my-3">Website</h4>
        <p>https://github.com/ahmed-menisy</p>
      </div>
    </div>
  </div>
</section>
