<aside class="position-relative aside__1">
  <div class="logo">
    <h4>
      <a routerLink="/home"> <span>M</span>enisy </a>
    </h4>
  </div>
  <ul class="nav__menu p-0">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fa-solid fa-house"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <i class="fa-solid fa-user"></i> About
      </a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">
        <i class="fa-solid fa-server"></i> Services
      </a>
    </li>
    <li>
      <a routerLink="/portfolio" routerLinkActive="active">
        <i class="fa-solid fa-briefcase"></i> Portfolio
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        <i class="fa-solid fa-comments"></i> Contact
      </a>
    </li>
  </ul>
</aside>
<nav class="bot-nav">
  <ul class="nav__menu">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <i class="fa-solid fa-house"></i> 
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <i class="fa-solid fa-user"></i> 
      </a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">
        <i class="fa-solid fa-server"></i> 
      </a>
    </li>
    <li>
      <a routerLink="/portfolio" routerLinkActive="active">
        <i class="fa-solid fa-briefcase"></i> 
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        <i class="fa-solid fa-comments"></i> 
      </a>
    </li>
  </ul>
</nav>
