<section class="home__container h-100 overflow-auto py-3 container-fluid">
  <div class="row g-4 align-items-center h-100 ">
    <div class="col-lg-6">
      <div class="left">
        <div class="main__title mb-4">
          <h1 class="fs-3">
            Hello , My Name Is
            <span class="name text-uppercase">Ahmed Menisy</span>
          </h1>
        </div>
        <div class="sub__title">
          <h6>I'm a <span class="typed-element main-color"></span></h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            fugit itaque vero officiis doloremque necessitatibus dolores autem
            quaerat molestiae, tempora accusamus consequuntur ut adipisci
            numquam
          </p>
        </div>
        <button
          class="btn btn-warning rounded-pill btn-main mt-4"
          routerLink="/about"
        >
          More About Me
        </button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1">
      <div class="port__image">
        <img
          src="../../assets/images/portfolio.jpg"
          alt="portfolio image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
